<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<h1>Welcome to RBlog</h1>
<p>이 페이지는 "RBlog 프로젝트"의 Welcome 페이지 입니다.</p>
<br>
<%= link_to "글작성", bulletin_posts_path(1), class:'btn btn-default' %>
